body {
    background-color: #FFF;
}
header {
    height: 20em;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}
h1 {
    font-family: 'Liu Jian Mao Cao';
    font-size: 5em;
    padding-right: 50px;
    text-shadow: 5px 5px 8px black;
}
.profile-picture {
    height: 20em;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.331);
}
.icon-bar {
    height: 25px;
    background-color: #7C5851;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.331);
}
.icon-bar a {
    height: 50px;
    transition: 0.3s ease-in;
    padding: 5px 20px;
}
.icon-bar img {
    transition: 1s ease;
}
.gif {
    position: absolute;
    bottom: 0;
    height: 250px;
}
main {
    background-color: rgba(0, 0, 0, 0.048);
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    right: 50px;
    bottom: 5%;
    width: 300px;
    padding: 0 20px; 
    border: 10px double #7C5851;
}
main h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5em;
    color: rgb(51, 46, 46);
    text-shadow: none;
}
p {
    font-size: 1.2em;
}
/*Social media icons*/
.facebook:hover {
    border-bottom: 7px double pink;
}
.facebook-icon:hover {
    transform: rotate(360deg);
}
.instagram:hover {
    border-bottom: 7px double rgb(164, 226, 228);
}
.instagram-icon:hover {
    transform: rotate(360deg);
}
.linkedin:hover {
    border-bottom: 7px double rgb(193, 233, 166);
}
.linkedin-icon:hover {
    transform: rotate(360deg);
}
.github:hover {
    border-bottom: 7px double rgb(238, 208, 163);
}
.github-icon:hover {
    transform: rotate(360deg);
}

/* Media queries */
@media screen and (max-width: 790px){
    header {
        display: block;
        text-align: center;
    }
    .name-logo {
        width: 80%;
    }
    main {
        position: static;
        margin: 0 auto;
    }
    .gif {
        position: static;
    }
}