* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #050505;
  font-family: "Gothic A1", sans-serif;
}

h1 {
  text-align: center;
  font-weight: lighter;
  font-family: "Raleway Dots", cursive;
  font-size: 80px;
  width: 100%;
  margin: 0 auto 40px;
}
h2 {
  font-weight: lighter;
  margin: 0 auto;
  padding-bottom: 30px;
  font-size: 40px;
  width: 500px;
  text-align: center;
}
h3 {
  font-size: 25px;
  font-weight: lighter;
}
ul {
  display: inline-block;
}
ul li {
  list-style-type: none;
  padding: 10px 0 0;
}
span {
  font-weight: bolder;
  color: #000000;
  border-radius: 5px;
  padding: 3px;
}
a {
  color: rgb(203, 152, 219);
}
.span-green {
  background-color: rgba(172, 231, 166, 0.7);
}
.span-yellow {
  background-color: rgba(230, 231, 166, 0.7);
}

/* Background images */
.parallax {
  height: 500px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -2;
}
.first-parallax {
  background-image: url("images/profile-pic.jpg");
  height: 650px;
}
.second-parallax {
  background-image: url("images/scubadiving.jpg");
}
.third-parallax {
  background-image: url("images/skydiving.jpg");
}

/* Icons */
.back {
  display: none;
  width: 44px;
  height: 44px;
  position: relative;
  top: 0;
  left: 30px;
  cursor: pointer;
}
.icons {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 70%;
}
.icon {
  width: 300px;
  height: 300px;
  box-shadow: 2px 4px 20px rgb(223, 221, 221);
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: center;
  background-position: top;
  overflow: hidden;
}
.overlay p {
  text-align: center;
  color: rgb(137, 47, 165);
  font-size: 30px;
  font-weight: bolder;
  text-shadow: 1px 1px 1px rgb(46, 46, 156);
}
.avatar {
  background-image: url("icons/avatar.svg");
}
.education {
  background-image: url("icons/education.svg");
}
.contact {
  background-image: url("icons/contact.svg");
}
.overlay {
  width: 300px;
  height: 300px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* Icons hover effects */
.overlay-education:hover {
  background-color: rgba(172, 231, 166, 0.7);
}
.overlay-avatar:hover {
  background-color: rgba(166, 229, 231, 0.7);
}
.overlay-contact:hover {
  background-color: rgba(230, 231, 166, 0.7);
}

/* Content */
.wrapper {
  min-height: 500px;
  background-color: rgb(255, 255, 255);
  position: relative;
  z-index: 1;
  padding: 60px 0 80px;
}
.content {
  display: none;
}
.display-flex {
  display: flex;
  justify-content: center;
}
.display-center {
  width: 500px;
  margin: 0 auto;
  text-align: center;
}

/* Education - section */
.display-center ul {
  margin-bottom: 40px;
  text-align: left;
}
.education-wrapper {
  width: 30%;
  margin-left: 30px;
}
.list-wrapper {
  width: 500px;
  display: flex;
}
.content div div p {
  margin: 0 20px 20px;
  max-width: 500px;
}

/* About me - section */
.profile-picture {
  margin-right: 30px;
  width: 300px;
  height: 400px;
  overflow: hidden;
  border: 10px solid #ffffff;
  box-shadow: 2px 4px 20px rgb(223, 221, 221);
}
.profile-picture img {
  width: 100%;
}

/* The timeline */
.timeline-wrapper {
  margin-top: 30px;
  width: 100%;
  text-align: center;
}
.timeline {
  height: 450px;
}

/* Social medias icons */
.social-medias a {
  margin: 0 10px;
}
.social-medias img:hover {
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-name: rotate;
}

/* Project section */
.project-image-landscape {
  width: 500px;
}
.project-image-portait {
  width: 200px;
  margin: 0 10px;
}
.project-wrapper {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  margin: 50px auto;
}
.project-wrapper div {
  width: 40%;
}
.project-wrapper h3 {
  margin-bottom: 15px;
}
.project-wrapper p {
  margin-bottom: 10px;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(-20deg);
  }
}

@media screen and (max-width: 400px) {
  .first-parallax {
    height: 500px;
  }
  h1 {
    min-width: 100px;
    font-size: 50px;
    right: 0px;
    bottom: 115px;
  }
  h2 {
    width: 100%;
    font-size: 30px;
  }
  .display-flex {
    display: block;
    text-align: center;
  }

  /* Icon */
  .icons {
    display: block;
  }
  .icon {
    margin: 0 auto 30px;
    width: 300px;
    height: 300px;
  }

  /* About me - section */
  .profile-picture {
    margin: 0 auto 30px;
  }
  .display-center {
    width: 100vw;
  }

  /* Education section */
  .display-flex ul {
    text-align: left;
  }
  .education-wrapper {
    width: 85vw;
    margin: 0 auto;
  }
  .list-wrapper {
    width: 100%;
    margin-bottom: 40px;
  }

  /* Timeline */
  .timeline {
    width: 100%;
    height: 180px;
  }

  /*Project section */
  .project-wrapper {
    display: block;
    text-align: center;
  }
  .project-wrapper div {
    width: 100%;
  }
  .project-image-portait {
    margin-bottom: 20px;
  }
  .project-image-landscape {
    width: 100%;
    margin-bottom: 20px;
  }
}

/* Use these classes to show and hide elements with js */
.show {
  display: initial;
}
.hide {
  display: none;
}
