@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import 'project/_project';
@import 'components/_components';

html {
    background-color: $offBlack;
}

*{
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: $link;
    word-break: break-word;
}